<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('home.index')}}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('materiels.index')}}">Données
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<style>
    /* Positionnez la forme Popup */
    .login-popup {
    position: relative;
    text-align: center;
    width: 100%;
    }
    /* Masquez la forme Popup */
    .form-popup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-45%, 5%);
    border: 2px solid #666;
    z-index: 9;
    }
    /* Styles pour le conteneur de la forme */
    .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    }
    
    /* Stylez le bouton de connexion */
    .form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    }
    
    /* Stylez le bouton pour annuler */
    .form-container .cancel {
    background-color: #cc0000;
    }
    /* Planez les effets pour les boutons */
    .form-container .btn:hover,
    .open-button:hover {
    opacity: 1;
    }
</style>