{% extends 'base.html.twig' %}

{% block title %}Hello DataController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class='row'>
            <div class='col'>
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Date de création</th>
                            <th>Modifier</th>
                            <th>Suppresion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
            </table>  
            </div>
        </div>
    </div>
{% endblock %}
